---
layout: default
---

{% assign program = page.program %}

<header>
    <program-icon>
        {% if program.icon %}
            <img class="icon" width="{{ program.icon.width }}" height="{{ program.icon.height }}" src="/{{ program.icon.path }}">
        {% else %}
            <img class="icon" width="48" height="48" src="/images/unknown.gif">
        {% endif %}
    </program-icon>
    <program-title>{{ page.title }}</program-title>
    {% if program.subtitle %}
        <program-subtitle>{{ program.subtitle | titlecase }}</program-subtitle>
    {% endif %}
    <program-identifier>{{ program.uid }}</program-identifier>
</header>

{% if program.screenshots %}
    <div class="screenshots">
        {% for screenshot in program.screenshots %}
            <img width="{{ screenshot.width }}" height="{{ screenshot.height }}" class="screenshot" src="/{{ screenshot.path }}" />
        {% endfor %}
    </div>
{% endif %}

{% if program.summary %}
    <div class="summary">
        <p>{{ program.summary }}</p>
    </div>
{% endif %}

{% if program.description %}
    <div class="description">
        <p>{{ program.description | markdownify }}</p>
    </div>
{% endif %}

<h2>Releases</h2>

{% for version in program.versions %}
    <h3>{{ version.version }}</h3>

    <ul class="variants">
        {% for variant in version.variants %}
            {% assign release = variant.items[0] %}
            <li>
                <variant-header>
                    <variant-icon>
                        {% if release.icon %}
                            <img class="icon" width="{{ release.icon.width }}" height="{{ release.icon.height }}" src="/{{ release.icon.path }}">
                        {% else %}
                            <img class="icon" width="48" height="48" src="/images/unknown.gif">
                        {% endif %}
                    </variant-icon>
                    <variant-details>
                        <variant-title>
                            {{ release.name }}
                        </variant-title>
                        <variant-hash title="{{ release.sha256 }}">
                            {{ release.sha256 | truncate: 8, "" }}
                        </variant-hash>
                    </variant-details>
                    <variant-actions>
                        <span class="file-size">{{ release.size | divided_by: 1024 }} kB</span>
                        <a class="download" href="/files/{{ release.sha256 }}" download="{{ release.filename }}">Download</a>
                    </variant-actions>
                </variant-header>
                <ul class="sources">
                    {% for release in variant.items %}
                        <li>
                            <div class="path">
                            {% for component in release.reference %}{% if component.url %}<a href="{{ component.url }}">{% endif %}{{ component.name | xml_escape }}{% if component.url %}</a>{% endif %}{% if forloop.last == false %} / {% endif %}{% endfor %}
                        </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endfor %}