[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

b2sdk = "*"
beautifulsoup4 = "*"
fastcommand = "*"
jinja2 = "*"
natsort = "*"
pillow = "*"
python-frontmatter = "*"
pyyaml = "*"
requests = "*"
tqdm = "*"

[requires]

python_version = "3"
